{% extends 'base.html' %}

{% block content %}
  <h1>This is signup page</h1>
  
  <form method="POST">
    {% csrf_token %}

    {{ signupform.as_p }}

    <button type="submit"> Sign Up</button>
  </form>

  <p>Already have an account ? <a href="{% url 'login' %}">Log In</a> </p>
{% endblock %}






<!-- <h2>Sign Up</h2>
<form method="">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit"> Sign Up </button>
</form>

<p>Already have an account ? <a href="{% url 'login' %}"> Log In </a></p> -->